@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.plus-family {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.manrope-family {
    font-family: "Manrope", sans-serif;
}

.header-bg {
    background: url(/assets/images/png/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: white;
    z-index: 10;
    transition: all 300ms linear;
    border-radius: 10px;
    transform-origin: left;
    display: flex;
}

.z-5 {
    z-index: 5;

}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.gap-24 {
    gap: 24px;
}

.nav-bg {
    height: 84px;
    border-radius: 24px;
    background-color: white;
}

.nav-btn {
    padding: 16px 20px 16px 20px;
    border-radius: 56px;
    background: #FF0000;
}

.mx-w-1164 {
    max-width: 1164px !important;
}

.mx-w-830 {
    max-width: 830px;
}

.mx-w-742 {
    max-width: 742px;
}

.get-btn {
    padding: 20px 32px 20px 32px;
    border-radius: 56px;
    background: #FF0000;
}

.header-rating-box {
    width: 229px;
    border-radius: 16px;
    border: 0.83px solid #14141426;
}

.gap-24 {
    gap: 24px;
}

/* ----------section-2--------- */
.mx-w-590 {
    max-width: 590px;
}

.icon-box {
    width: 62px;
    height: 62px;
    border-radius: 10px;
    background: #B400011A;
}

.mx-w-370 {
    max-width: 370px;
}

.gap-20 {
    gap: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-36 {
    margin-top: 36px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mx-w-641 {
    max-width: 641px;
}

.pt-140 {
    padding-top: 140px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mx-w-316 {
    max-width: 316px;
}

/* ----------section-4--------- */
.slider-box {
    width: 364px;
    border-radius: 24px;
    box-shadow: 0px 2px 44px 3px #5757571A;
    padding: 24px;
}

.mt-56 {
    margin-top: 56px;
}


/* ----------section-5--------- */
.mx-w-592 {
    max-width: 592px;
}

.mx-w-508 {
    max-width: 508px;
}

.sec-5-box {
    max-width: 592px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 1px 28px 1px #4747471A;
}

.mr-20 {
    margin-right: 20px;
}

.view-btn {
    padding: 20px 32px 20px 32px;
    border-radius: 56px;
    border: 1px solid #FF0000;
    color: #FF0000;
}

.ml-63 {
    margin-left: 63px;
}

.pb-140 {
    padding-bottom: 140px;
}

/* ----------section-6--------- */
.red-box {
    background-image: url(../images/png/sec-6-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    padding-bottom: 64px;
    padding-top: 64px;
}

.red-overlay {
    background: #FF0000;
    opacity: 75%;
    border-radius: 24px;
}

/* --------------- */
.lh-19 {
    line-height: 19.2px;
}

.lh-20 {
    line-height: 20.16px;
}

.lh-22 {
    line-height: 22.68px;
}

.lh-25 {
    line-height: 25.6px;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28.8px;
}

.lh-30 {
    line-height: 30px;
}

.lh-32 {
    line-height: 32px;
}

.lh-38 {
    line-height: 38.4px;
}

.lh-70 {
    line-height: 70.56px;
}

.lh-80 {
    line-height: 80.64px;
}

/* --------------- */
@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

}